<ul style="display:none">
  {{#each items}}
    {{#unless moved}}
    <li style="color:red">
    {{else}}
    <li>
    {{/unless}}
    {{title}}
    &nbsp;&nbsp;<i class="icon-eye-open" style="display:none"></i>
    </li>
  {{/each}}
</ul>
