@import 'color';

/* ==========================================================================
   Home page
   ========================================================================== */

.home-page {
  width: 476px;
  height: 130px;
  margin: 5px auto;
  padding: 5px;
  margin-bottom: 0.5em;
  color: $home-page-color;
  border-radius: 5px;
  background-color: $home-page-background-color;
}